  ServerName {{ item.name }}
  {% if item.document_root is defined %}
  DocumentRoot {{ item.document_root }}
  {% else %}
  DocumentRoot {{ apache2_sites_basedir }}/{{ item.id }}/htdocs
  {% endif %}
  {% for value in item.aliases|default([]) %}
  ServerAlias {{ value }}
  {% endfor %}

  # --- rules ----------------------------------------------------------------

  {% for val in item.rules|default([]) %}
  include rules/{{ val }}.conf
  {% endfor %}

  # --- directories -----------------------------------------------------------

  {% if item.document_root is defined %}
  <Directory {{ item.document_root }}>
  {% else %}
  <Directory {{ apache2_sites_basedir }}/{{ item.id }}/htdocs>
  {% endif %}
    AllowOverride All
    Options FollowSymLinks
    Require all granted
    Satisfy Any
  </Directory>

  {% if item.auth is defined %}
  # --- auth ------------------------------------------------------------------

  {% include "site/htpasswd.j2" %}
  {% endif %}

  # --- logging ---------------------------------------------------------------

  LogLevel warn
  ErrorLog  /var/log/apache2/error-{{ item.id }}.log
  CustomLog /var/log/apache2/access-{{ item.id }}.log combined

  {% if item.append is defined %}

  # --- appended --------------------------------------------------------------

  {{ item.append }}
  {% endif %}

