# --- ssl -------------------------------------------------------------------

include rules/ssl.conf
SSLCertificateFile {{ apache2_certs_path }}/{{ item.ssl.cert_name|default('server') }}.crt
SSLCertificateKeyFile {{ apache2_keys_path }}/{{ item.ssl.key_name|default('server') }}.key
{% if item.ssl.chain_name is defined %}
SSLCACertificateFile {{ apache2_certs_path }}/{{ item.ssl.chain_name }}.crt
{% endif %}
