# {{ ansible_managed }}

# We don't want someone to visit a default site via IP
# So we catch all non-defined Hosts or blank hosts here
# the default listen will cause this server block to be used
# when no matching hostname can be found in other server blocks
{% for port in apache2_ports %}
<VirtualHost _default_:{{ port }}>
  # logging
  LogLevel warn
  ErrorLog  /var/log/apache2/error-default.log
  CustomLog /var/log/apache2/access-default.log combined
</VirtualHost>
{% endfor %}

{% for port in apache2_ssl_ports %}
<VirtualHost _default_:{{ port }}>
  # logging
  LogLevel warn
  ErrorLog  /var/log/apache2/error-default.log
  CustomLog /var/log/apache2/access-default.log combined

  # ssl
  SSLEngine on
  SSLCertificateFile    {{ openssl_certs_path }}/{{ apache2_default_cert_name }}.crt
  SSLCertificateKeyFile {{ openssl_keys_path }}/{{ apache2_default_cert_name }}.key
  <FilesMatch "\.(cgi|shtml|phtml|php)$">
     SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory /usr/lib/cgi-bin>
     SSLOptions +StdEnvVars
  </Directory>
  BrowserMatch "MSIE [2-6]" \
     nokeepalive ssl-unclean-shutdown \
     downgrade-1.0 force-response-1.0
  BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
</VirtualHost>
{% endfor %}
